Flask
Flask-WTF
bleach
numpy
filelock
psutil
waitress
requests
flet
h11
httpx
oauthlib
repath
matplotlib
cryptography
sniffio
click
Pygments
rich
httpcore
idna
zstandard
certifi
typing_extensions
urllib3
anyio
blinker
charset-normalizer
six
referencing
pip
attrs
distro
protobuf
pillow
pyreadline3
WTForms
beautifulsoup4